{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/crud_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_crud_dropdowns.css' %}">

    <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>


    <title>Tableau Consulting 팀 인력 관리 포탈</title>
</head>
<body>
    <div class="nav-wrapper">
        {% include 'navbar.html' %}
    </div>
    <div class="container-fluid dropdown-wrapper">
        {% include 'data_crud_dropdowns.html' %}
    </div>
    <div class="main-content-wrapper">
        <div class="card text-bg-light-mb-3 main-content">
            <div class="card-body">
                <h5 class="card-title">사원 기본정보</h5>

                <table class="table table-scroll table-striped secondary">
                    <tr>
                        <th>데이터 입력일</th>
                        <th>사원명</th>
                        <th>이메일</th>
                        <th>직급</th>
                        <th>입사일</th>
                        <th>총 휴가일수</th>
                    </tr>
                    {% for emp in emp_obj %}
                    <tr>
                        <td>{{ emp.std_dt }}</td>
                        <td>{{ emp.emp_name }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.emp_level }}</td>
                        <td>{{ emp.hired_date }}</td>
                        <td>{{ emp.total_vacations }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>


</body>
</html>