{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboards_main.css' %}">
    
        <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="http://bi.dfocus.net/javascripts/api/viz_v1.js" defer></script> 
    
        <title>Tableau Consulting 팀 인력 관리 포탈</title>
    </head>
<body>
    <div class="nav-wrapper">
        {% include 'navbar.html' %}
    </div>
    <div class="dropdown-wrapper">
        {% include 'dashboards/dashboards_dropdown.html' %}
    </div>
    <div class="dashboard-wrapper">
        <div class='tableauPlaceholder' id='viz1709274051044' style='position: relative; margin: 20px auto'>
            <noscript><a href='#'><img alt='프로젝트 현황 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TableauConsultingTeam_17092739790760&#47;sheet0&#47;1_rss.png' style='border: none' /></a></noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='TableauConsultingTeam_17092739790760&#47;sheet0' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;TableauConsultingTeam_17092739790760&#47;sheet0&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='ko-KR' />
                <param name='filter' value='publish=yes' />
            </object>
            </div>
            <script type='text/javascript'>                    var divElement = document.getElementById('viz1709274051044');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1700px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1700px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1827px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</body>
</html>