<p class="fw-bold fs-3">Login</p>

<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label fs-5" for="form2Example1">ID</label>
        <input type="text" id="form2Example1" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label fs-5" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" />
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-dark btn-block mb-4" onclick="login_submit()">Sign in</button>
</form>